$time: 0.2s;

.exit {
  transform: rotateY(0deg);
}

.exitActive {
  transform: rotateY(90deg);
  transition: transform $time;
}

.enter {
  transform: rotateY(90deg);
}

.enterActive {
  transform: rotateY(0deg);
  transition: transform $time;
}

.appear {
  @extend .enter;
}

.appearActive {
  @extend .enterActive;
}

