.root {
  margin-left: 0.2em;
  margin-right: 0.2em;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.card {
  width: 2.1em;
  height: 3.4em;
  position: relative;
  border: 2px solid black;
  background: white;
  flex-direction: column;
  font-family: monospace;
}

.rank {
  position: absolute;
  top: 0;
  left: 10%;
  font-size: 1.5em;
}

.suit {
  position: absolute;
  bottom: 0;
  right: 10%;
  font-size: 2em;
}

.mocked {
  opacity: 0.5;
}
