@mixin f($background, $text) {
  background-color: $background;
  color: $text;
}

.root {
  width: 1.5em;
  height: 1.5em;
  border-width: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: sans-serif;
}

.dealer {
  @include f(white, black);
}
