.root {
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 3.5em 1.5em 5em 1fr;
  align-items: center;
  justify-items: center;
}

.thinking {
  border-color: white;
}

.cards {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: span 1;
}

.hole {
  position: relative;
  display: inline-block;
}

.foldStamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-14deg);
  opacity: 0.5;
  color: black;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
}

.profile {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.pocket {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.circles {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.bet {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 4;
  grid-column-end: span 1;
}

