.tag {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 4;
  grid-column-end: span 1;
  white-space: nowrap;
}

.amount {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 4;
  grid-column-end: span 1;
}

.winner {
}

.loser {
  opacity: 0.3;
}

